/* my styles go here */

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  border: 1px solid black;
  border-top-width: 2px;
  background-color: #aaa;
}

header {
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #bbb;
}

.navbar-fixed-top {
  padding: 0 0;
}

a.navbar-brand {
  background-color: teal;
  color: white;
  font-family: times;
  padding: 0.7em 1em;
}

a.navbar-link {
  color: gray;
  font-size: 0.9em;
  padding: 0 0.5em;
}

main {
  background-color: #ddd;
  flex: 1;
}

footer {
  background-color: #555;
  border-top-style: solid;
  border-top-width: 4px;
  border-top-color: teal;
  color: #ccc;
  font-size: 0.5em;
  padding: 2em 1em;
  text-align: center;
}
